
body {
        width: 95%;
        font-family: 'Lora';
        background: url("https://raw.githubusercontent.com/JoseLuisGalvis/cvWeb-frontend/main/V5.jpg") no-repeat center center fixed,
                    linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)); 
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
}

.encabezado {
    width: 95%;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
}

.text-faded {
    color: rgba(255, 255, 255, 0.3);
}

.site-heading {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    text-aligan: center;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway';
    margin: 3em 0 2em 1em;
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 200;
    color: #ffff;
    text-shadow: 2px 4px 2px #000;
    line-height: 4rem;
    padding: 0.2em 0 0 0;
}

#mainNav {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Raleway';
    margin: 0 0 0 2em;
}

.container {
    width: 96%;
    height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-aligan: center;
    margin: 10px;
    justify-content: space-between;
    padding: 1em;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 3;
}

.menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-aligan: center;
    list-style:none;
    margin:0;
    padding:0;
}

.menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul a:active {
    color: #e6a756;
}

.menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

.menu ul li:hover {
    background: rgba(60, 96, 129, 0.521);
}

.menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgb(43, 95, 95); 
    padding:0;
}

.menu ul li:hover > ul {
    display:block;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 6em 0 0 0;
}

.intro img{
    width: 54%;
    height: 20%;
    float: right;
    margin: 0 0 0 6em;
}

.page-section {
    width: 100%;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section-home {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home {
    width: 96%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 6em 0 0 0;
    padding: 1em;
}

.container_blog {
    width: 100%;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 0 0 0;
}

.page-section-about {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_about {
    width: 96%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8em 0 0 0;
    padding: 1em;
}

.container_about img {
    width: 50%;
    margin: 4em 0 0 -15em;
    border-radius: 0.4em;
}

.page-section-service {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_service {
    width: 96%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8em 0 0 0;
    padding: 1em;
}

.product-item img {
    width: 80%;
    height: 60%;
}

.left_cta_innerv {
    width: 50%;
}

.section-heading {
    width: 100%;
    text-transform: uppercase;
    margin: 0.5em 0 0 0;
}

.rigth_cta_innerv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.rigth_cta_innerv p {
    font-size: 1.2em;
}

.product-item {
    padding: 8em 0 0 0;
}


@media (min-width: 992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -5rem;
        margin-left: -9rem;
        max-width: 30vw;
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;

    }

    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        margin-left: 15rem;
        max-width: 40vw;
    }

}

.row {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-aligan: center;
}

.col-xl-9 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-aligan: center;
}

.cta .cta-inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    padding: 1rem;
    margin: 2rem 0 2.5rem 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.cta-inner .mb-0 {
    display: flex;
    text-align: justify;
}

.mb-0 {
    font-size: 1.2em;
    text-align: justify;
    margin: 0.25em 0;
}

.mb-0 img {
    width: 50%;
    height:40%;
    margin: 0.25em 0;
}

.cta .cta-inner:before {
    border-radius: 0.5rem;
    content: '';
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta {
    width: 90%;
    position: relative;
    display: flex;
    font-weight: bold;
    padding: 4em 3em 0 3em;
    margin: 7em 0.5em 0 7em;
    border-radius: 0.4em
}

.cta-innerv {
    width: 100%;
    position: relative;
    display: flex;
    font-weight: bold;
    line-height: 1.8em;
    margin: 0.5em -5em 0 0.5em;
    padding: 1em 3em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.4em;
}

.list-unstyled {
    margin: 0.5rem 0; 
}

.address {
    margin: 0.5rem 0; 
}

.page-section-contact {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-aligan: center;
    margin: 8rem 0 0 0; 
    padding: 3em 0 0 0;
}

.container_contact img {
    width: 37%;
    border: 3px solid #ffff;
    border-radius: 0.4em;
    margin:  0 -5em 0 0;
}

.text-center input {
    width: 95%;
    background-color: #e6a756;
    color: #ffff;
    font-weight: 600;
    box-shadow: 8px 6px 4px rgb(0, 0, 0, 0.15);
}

.input-group input {
    border-radius: 0.3em;
    box-shadow: 8px 6px 4px rgb(0, 0, 0, 0.15);
}

.about-heading-content {
    width: 50%;
    display: flex;
    margin: 0;
}

.row-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-aligan: center;
    margin: 0;
}

.container_aviso {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-aligan: center;
}

.container_store {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-aligan: center;
}

.bg-faded p {
    font-size: 1em;
    text-align: justify;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
    display: block;
    font-size: 2rem;
    font-weight: 300;
}

.section-heading .section-heading-under {
    display: block;
    font-size: 1rem;
    text-transform: none;
    font-weight: 300;
    margin-top:.5rem;
}

.bg-faded {
    width: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    padding: 0.5em 2em 0.5em 3em;
}

.m-0 a {
    font-size: 1.1em;
    margin: 0 2em 0 0;
}

.intro-button {
    width: 10%;
    height 8%;
    position: relative;
    padding: 0.5em 1em;
}

.btn-xl {
        position: absolute;
        left: 40%;
        top:10%;
        font-weight: 700;
        font-size: 0.8rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
}

@media (min-width: 992px) {

    .intro .intro-text {
            position: absolute;
            text-align: justify;
            left: 70%;
            width: 20%;
            margin-top: -2rem;
            padding: 2em 4em;
    }

}

.list-hours {
    font-size: 0.9rem;
}

.list-hours .list-hours-item {
    border-bottom: 1px solid rgba(230, 167, 86, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.list-hours .list-hours-item.today {
    font-weight: bold;
    color: #e6a756;
}

@media (min-width: 992px) {
    .list-hours {
        width: 50%;
        font-size: 1.1rem;
    }
}

.address strong {
    width: 100%;
    font-size: 1.2rem;
}

.footer {
    width: 100%;
    height: 8%;
    background-color: #000;
    margin: 0 0 0 2em;
}

.text-primary {
    color: #e6a756 !important;
}

.bg-primary {
    background-color: #e6a756 !important;
}

.btn {
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #df902a;
    border-color: #df902a;
}

.font-weight-light {
    font-weight: 100 !important;
}

.mbtm{
    padding-top: 5rem;
}

.mbt{
    padding: 0.1rem 0 0 3em;
}

.mbt1{
    padding-top: 0.25rem;
}

a.link{
    color: #df902a;
}

a.link:hover{
    text-decoration: none;
    color: #e6a756 !important;
}

.section-content {
    width: 100%;
    font-family: 'Lora' !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5em !important;
    text-align: justify;
    padding: 1em 0 1.5em 0;
}

ul.errorlist{
    padding-top: .75rem;
    font-style: italic;
    color: red;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-aligan: center;
}

.registro {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #ffff;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.col-xl-9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_form {
    width: 90%;
    background-color: rgb(247, 242, 239);
}

form {
    width: 90%;
}

.form-group {
    width: 100%;
}

input {
    width: 100%;
    font-size: 1.1em;
    padding: 0.4em 0.8em;
    border: none;
}

.btn {
    font-size: 1.4em;
    border-radius: 0.4em;
    color: #ffff;
    padding: 1.5em 2.5em;
}

.btn-contact {
    font-size: 1.4em;
    border-radius: 0.4em;
    color: #ffff;
}

label {
    padding: 0.6em 0 0 0;
}

textarea {
    width: 100%;
    font-size: 1.3em;
    padding: 0.6em 0 0.6em 1em;
}

.input-group {
    width: 90%;
    margin: 0;
    padding: 0.25em 0 0.5em 0;
}

.page-section-category {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffff;
}

.container_category {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page-section-pages {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_pages {
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;

}